<div class='row'>
  <form class='card col-4' id='post-form'>
    <div class='card-header'>
      <p class='title'>New Post</p>
    </div>
    <div class='card-body'>
      <div class='mb-3'>
        <label for='postTitle' class='form-label'>Title</label>
        <input type='input' class='form-control' id='post-title' />
      </div>
      <div class='mb-3'>
        <label for='postContents' class='form-label'> Post Contents</label>
        <textarea class='form-control' id='post-contents' rows='3'></textarea>
      </div>
      <button type='submit' class='btn btn-primary' id='post-btn'>Add Post</button>
    </div>
  </form>
  <ol class='col'>
    <h2>{{username}}'s Post(s)</h2>
    <li>
      {{#each posts}}
        <div class='card'>
          <div class='card-header'>
            <p class='title'>Title: {{title}}</p>
          </div>
          <div class='card-body'>
            <p class='posted-by'>Posted By:
              {{user.username}}
              on
              {{createdAt}}</p>
            <p class='card-text'>{{post_contents}}</p>
            <div class='delete-edit'>
              <button
                value='{{id}}'
                type='button'
                class='btn btn-light edit-btn'
              >
                <i class='fa-solid fa-pencil'></i>
              </button>
              <button
                value='{{id}}'
                type='button'
                class='btn btn-light delete-btn'
              >
                <i class='fa-solid fa-trash-can'></i>
              </button>
            </div>
          </div>
        </div>
      {{/each}}
    </li>
  </ol>
</div>
<script src='/javascript/add-post.js'></script>
<script src='/javascript/delete-post.js'></script>