<section class='row'>
  <form class='card col-4' id='post-form'>
    <div class='card-header'>
      <p class='title'>New Post</p>
    </div>
    <div class='card-body'>
      <div class='mb-3'>
        <label for='postTitle' class='form-label'>Title</label>
        <input type='input' class='form-control' id='post-title' />
      </div>
      <div class='mb-3'>
        <label for='postContents' class='form-label'> Post Contents</label>
        <textarea class='form-control' id='post-contents' rows='3'></textarea>
      </div>
      <button type='submit' class='btn btn-primary' id='post-btn'>Add Post</button>
    </div>
  </form>
  <ol class='col'>
    <h2>{{format_username username}}'s Post(s)</h2>
    {{#if posts.length}}
      <li class='dashboard-posts'>
        {{#each posts}}
          <div class='card'>
            <div class='card-header'>
              <a href='/post/{{id}}'>
                <p class='title'>Title: {{title}}</p>
              </a>
            </div>
            <div class='card-body'>
              <p class='posted-by'>Posted By:
                {{format_username user.username}}
                on
                {{formatDate createdAt}}</p>
              <p class='card-text'>{{post_contents}}</p>
              <div class='delete-edit'>
                <button type='button' class='btn btn-primary edit-btn'>
                  <a href='/dashboard/edit/{{id}}'>
                    <i class='fa-solid fa-pencil'></i>
                  </a>
                </button>
              </div>
            </div>
          </div>
        {{/each}}
      </li>
    {{else}}
      <div class='card dashboard-posts'>
        <div class='card-header'>
          <p class='title'>Title: Your First Post!</p>
        </div>
        <div class='card-body'>
          <p class='posted-by'>Posted By: Admin </p>
          <p class='card-text'>Join the conversation and add your first post. To
            do this use the form on the right and a title and the contents of
            your post and finish by hitting thr add post button. Your new post
            will show up here in desecending order. You will be able to delete
            and edit posts once posted. So get posting today!</p>
          <div class='delete-edit'>
          </div>
        </div>
      </div>
    {{/if}}
  </ol>
</section>
<script src='/javascript/add-post.js'></script>