<section class='row justify-content-between'>
  <form class='card col-6' id='post-form'>
    <div class='card-header'>
      <p class='title'>Update Post</p>
    </div>
    <div class='card-body'>
      <div class='mb-3'>
        <label for='postTitle' class='form-label'>Update Title</label>
        <input
          type='input'
          class='form-control'
          id='post-title'
          placeholder='{{post.title}}'
        />
      </div>
      <div class='mb-3'>
        <label for='postContents' class='form-label'>
          Update Post Contents</label>
        <textarea
          class='form-control'
          id='post-contents'
          rows='3'
          placeholder='{{post.post_contents}}'
        ></textarea>
      </div>
      <button type='submit' class='btn btn-primary' id='update-btn'>
        <i class='fa-solid fa-pencil'></i>
      </button>
      <button type='submit' class='btn btn-primary' id='delete-btn'>
        <i class='fa-solid fa-trash-can'></i>
      </button>
      <button type='button' class='btn btn-primary' id='back-btn'>
        <a href='/dashboard'>
          <i class='fa-solid fa-circle-left'></i>
        </a>
      </button>
    </div>
  </form>
  <ol class='col'>
    <div class='card'>
      <div class='card-header'>
        <p class='title'>Title: {{post.title}}</p>
      </div>
      <div class='card-body'>
        <p class='posted-by'>Posted By:
          {{format_username post.user.username}}
          on
          {{formatDate post.createdAt}}</p>
        <p class='card-text'>{{post.post_contents}}</p>
        <ol class='comment-list'>
          <div class='card'>
            <div class='card-header'>
              <h3>Post Comment(s)</h3>
            </div>
          </div>
          {{#if post.comments.length}}
            <li>
              {{#each post.comments}}
                <div class='comment card-body'>
                  <p>{{comment_contents}}</p>
                  <p>Commented By: {{format_username user.username}}</p>
                </div>
              {{/each}}
            </li>
          {{else}}
            <div class='comment'>
              <p>This Post has no comments yet! Be the first to comment by
                signing in and leaving a comment!</p>
            </div>
          {{/if}}
        </ol>
      </div>
    </div>
  </ol>
</section>
<script src='/javascript/delete-post.js'></script>
<script src='/javascript/update-post.js'></script>