<ol>
  <div class='card'>
    <div class='card-header'>
      <p class='title'>Title: {{post.title}}</p>
    </div>
    <div class='card-body'>
      <p class='posted-by'>Posted By:
        {{format_username post.user.username}}
        on
        {{formatDate post.createdAt}}</p>
      <p class='card-text'>{{post.post_contents}}</p>
      <ol class='comment-list'>
        <div class='card'>
          <div class='card-header'>
            <h3>Comment(s)</h3>
          </div>
        </div>
        {{#if post.comments.length}}
          <li>
            {{#each post.comments}}
              <div class='comment card-body'>
                <p>{{comment_contents}}</p>
                <p>Commented By: {{format_username user.username}}</p>
              </div>
            {{/each}}
          </li>
        {{else}}
          <div class='comment'>
            <p>This post has no comments yet! Be the first to comment by signing
              in and leaving a comment!</p>
          </div>
        {{/if}}
        {{#if loggedIn}}
          <div class='card'>
            <div>
              <div class='card-header comment-header'>
                <h3>Post A Comment</h3>
              </div>
              <textarea
                class='form-control'
                id='post-comments'
                rows='3'
              ></textarea>
              <button
                type='submit'
                class='btn btn-primary'
                id='comment-btn'
              >Post Comment</button>
            </div>
          </div>
        {{/if}}
      </ol>
    </div>
  </div>
</ol>
{{#if loggedIn}}
  <script src='/javascript/add-comment.js'></script>
{{/if}}